<div>
<div class="row flex justify-content-center">
        <h5 class="" id="addProductModalLabel">Modificando Producto <span class=" text-success">{{title}}</span> </h5>

         <div class="col-6 border border-primary-subtle border-3 rounded ">
      <form id="AddProductForm" action="/update/:code"  method="PUT">
      <div class="row p-0 ">
         <div class="col mb-3">
            <label for="title" class="form-label">Producto</label>
            <input type="text" name="title"  class="form-control" id="title" placeholder="ingrese el nombre del producto." value="{{title}}">
         </div>
         <div class="col mb-3">
            <label for="title" class="form-label">Descripción</label>
            <input type="text" name="description"  class="form-control" id="description" placeholder="ingrese la descripción"  value="{{description}}">
         </div>
         <div class="col mb-3">
            <label for="code" class="form-label">Código</label>
            <input type="text" name="code"  class="form-control" id="code" placeholder="ingrese el código" value="{{code}}">
         </div>
      </div>     
      <div class="row">
         <div class="col-6 mb-3">
            <label for="category" class="form-label">Categoría</label>
            <input type="text" name="category"  class="form-control" id="category" placeholder="ingrese categoría del producto" value="{{category}} ">
         </div>
         <div class="col-3 mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" name="stock"  class="form-control" id="stock" placeholder="ingrese stock del producto" value="{{stock}}">
         </div>
         <div class="col-3 mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" name="price"  class="form-control" id="price" placeholder="ingrese el precio del producto" value="{{price}}">
         </div>
      </div>  

      {{!-- <div class="row">
         <div class="col mb-3"> 
            <div class="input-group">
               <input type="file" class="form-control" name="file" id="file" placeholder="subir imagen" aria-label="Upload">
               <button class="btn btn-outline-secondary" type="button" id="file">seleccionar imagen</button>
            </div>
         </div>
      </div> --}}
      <div class="row">
         <div class="col mb-3">
         <button type="submit" class="btn btn-primary">Cargar</button>
      </div>
   </div>
   </form>
   </div>
</div>
  
</div>